@charset "UTF-8";

/* Animações */
@keyframes linha {
    1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animlinha {
    animation-name: linha;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.comecar-anim {
    opacity: 1;
}

.animate__delay {
    animation-delay: 1.5s;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #A7CF3A;
    --cor1: #8CA449;
    --cor2: #6D7A4B;
    --cor3: #4A4F3E;
    --cor4: #31332C;
    --cor5: #2F3323;
}


/*------------------------------*/
/* Cabeçalho */
/*------------------------------*/

header {
    top: 0;
    background-color: white;
    height: 43px;
    position: sticky;
    z-index: 1;
}

.logoCab img{
    display: inline-block;
    position: relative;
    z-index: 10;
    right: 49px;
}

/*------------------------------*/
/* redes sociais*/
/*------------------------------*/

.redeSocial {
    position: absolute;
    top: 0;
    left: 22%;
    margin: 5px 0px 0px 0px;
}

.redeSocial span{
    position: relative;
    bottom: 10px;
    padding: 0px 10px;
}

/*------------------------------*/
/* Cabeçalho - Normal */
/*------------------------------*/

div#menu {
    position: absolute;
    text-align: right;
    margin: 4px 60px 2px 0px;
    top: 0;
    right: 0;
}

.container {
    padding: 0px 10px;
    position: relative;
    display: inline;
}

.conteudo {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    top: 100%;
    right: 0;
}

.container:hover .conteudo {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
    z-index: 999;
}

.conteudo > ul {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 6px;
    padding: 10px 0px;
    background-color: var(--cor5);
    width: 6em;
    border-radius: 0px 0px 8px 8px;
}

.conteudo > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
}

.conteudo > ul > li > a:hover {
    text-decoration: underline;
    display: block;
}


/*------------------------------*/
/* Menu responsivo */
/*------------------------------*/

button#menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 39px 0px 0px;
    font-size: 1.5em;
    background-color: white;
    border: 0px;
    cursor: pointer;
}

div#camadas-resp {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 22%, rgba(255,255,255,1) 31%);
    text-align: center;
    padding-bottom: 45px;
    margin-top: -42px;
    display: none;
}

button.menu-filho {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: bold;

}

ul.sub-menu > li > a {
    position: relative;
    color: black;
    text-decoration: none;
}


div#camadas-resp > ul > li > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul#clinica-resp {
    display: none;
}

ul#equipe-resp {
    display: none;
}

ul#especialidades-resp {
    display: none;
}

@media (max-width: 665px) {

    /*----------------------------*/
    /* Menu responsivo */
    /*----------------------------*/

    div#menu {
        display: none;
    }

    button#menu-btn {
        display: block;
    }

}

/*------------------------------*/
/* linha abaixo do menu */
/*------------------------------*/

div#linhaCab {
    height: 4px;
    background-color: var(--cor0);
    position: relative;
    bottom: 42px;
    z-index: 1;
    width: 100%;
}

/*------------------------------*/
/* tela principal */
/*------------------------------*/

main {
    position: relative;
    top: -42px;
}


section.backgr1 {
    background-image: url(../img/background-1-grand.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 550px;
    width: 100vw;
}

section.backgr1 > div {
    padding: 30px;
    max-width: 389px;
    text-align: justify;
    line-height: 1.4em;
    background-color: rgba(255, 255, 255, 0.432);
    position: absolute;
    top: 80px;
    left: 5px;
    border-radius: 10px;
    word-spacing: 0px;
}

section.backgr1 > div > h2 {
    padding-bottom: 40px;
}

@media (max-width: 400px) {
    /*----------------------------*/
    /* caixa responsiva */
    /*----------------------------*/

    section.backgr1 > div {
        padding: 30px;
        max-width: 250px;
        text-align: justify;
        line-height: 1.4em;
        background-color: rgba(255, 255, 255, 0.432);
        position: absolute;
        top: 40px;
        left: 5px;
        border-radius: 10px;
        word-spacing: 0px;
    }
}
/*------------------------------*/
    /* acesso ao whatsapp */
/*------------------------------*/
div#whatsapp {
    position: fixed;
    right: 12px;
    bottom: 10px;    
    opacity: 42%;
}