@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Animações */
@keyframes linha {
    1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animlinha {
    animation-name: linha;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.comecar-anim {
    opacity: 1;
}

.animate__delay {
    animation-delay: 1.5s;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #A7CF3A;
    --cor1: #8CA449;
    --cor2: #6D7A4B;
    --cor3: #4A4F3E;
    --cor4: #31332C;
    --cor5: #2F3323;
    --font0: "Merriweather", serif;
    --font1: "Poppins", sans-serif;
    --font2: "Playfair Display", serif;
}


/*------------------------------*/
/* Cabeçalho */
/*------------------------------*/

header {
    top: 0;
    background-color: white;
    height: 43px;
    position: sticky;
    z-index: 2;
}

.logoCab img{
    display: inline-block;
    position: relative;
    z-index: 10;
    right: 49px;
}

/*------------------------------*/
/* Cabeçalho - Normal */
/*------------------------------*/

div#menu {
    position: absolute;
    text-align: right;
    display: inline-flex;
    margin: 4px 60px 2px 0px;
    top: 0;
    right: 0;
}

.container {
    padding: 0px 10px;
    position: relative;
    display: inline;
}

.menu-links {
    display: inline-flex;
    list-style: none;
}

.menu-links > li {
    padding: 10px 50px 0px 0px;
    font-size: 1.2em;
}

.menu-links > li > a {
    color: var(--cor2);
    text-decoration: none;
}

.menu-links > li > a:hover {
    color: var(--cor0);
}

.conteudo {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    top: 100%;
    right: 0;
}

.container:hover .conteudo {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
    z-index: 999;
}

.conteudo > ul {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 6px;
    padding: 10px 0px;
    background-color: var(--cor5);
    width: 6em;
    border-radius: 0px 0px 8px 8px;
}

.conteudo > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
}

.conteudo > ul > li > a:hover {
    text-decoration: underline;
    display: block;
}

/*------------------------------*/
/* Menu responsivo */
/*------------------------------*/
.voltar-index {
    position: fixed;
    top: 8px;
    left: 45%;
    font-size: 1.5em;
    display: none;
}

.voltar-index > a {
    color: var(--cor2);
    text-decoration: none;
}

.voltar-index > a:hover {
    color: var(--cor0);
}

button#menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 20px 0px 0px;
    font-size: 1.5em;
    background-color: white;
    border: 0px;
    cursor: pointer;
}

div#camadas-resp {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 22%, rgba(255,255,255,1) 31%);
    text-align: center;
    padding-bottom: 45px;
    margin-top: -42px;
    display: none;
    font-family: "Merriweather", serif;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

div#camadas-resp.show {
    display: block;
    height: 110px;
    opacity: 1;
}

button {
    font-family: "Merriweather", serif;
    font-size: 1em;
    color: var(--cor3);
}

button.menu-filho {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}

ul.sub-menu > li > a {
    position: relative;
    color: var(--cor2);
    text-decoration: none;
}

div#camadas-resp > ul > li > a {
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
}

ul#clinica-resp {
    display: none;
}

ul#equipe-resp {
    display: none;
}

ul#especialidades-resp {
    display: none;
}

@media (max-width: 970px) {

    /*----------------------------*/
    /* Menu responsivo */
    /*----------------------------*/

    .voltar-index {        
        display: block;
    }

    div#menu {
        display: none;
    }

    button#menu-btn {
        display: block;
    }

}

/*------------------------------*/
/* linha abaixo do menu */
/*------------------------------*/

div#linhaCab {
    height: 4px;
    background-color: var(--cor0);
    position: relative;
    bottom: 42px;
    z-index: 1;
    width: 100%;
}

/*-------------------------------*/
/*           principal           */
/*-------------------------------*/

main {
    position: relative;
    background-color: #a7cf3a2d;
    padding: 0px 0px 0px 0px;
    font-family: var(--font0);
}

/*-------------------------------*/
/*            Rodapé             */
/*-------------------------------*/

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 30px 0px;

}

footer > p {
    display: inline-block;
}

.meu-contato {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.meu-contato:hover:before {
    content: '\00A0\1F517';
}

.meu-contato:hover {
    text-decoration: underline;
}
/*-------------------------------*/
/*             Modal             */
/*-------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* botão */
.btnabrirmodal {
    width: 100px;
    border: 1px solid var(--cor1);
    border-radius: 9px;
    padding: 2px;
    cursor: pointer;
    margin-top: 5px;
}

.btnabrirmodal:hover {
    border: 3px inset var(--cor1);
    transition: all 0.5s, ease-in-out;
}

/* cabeçalho modal */
.cab-modal {
    display: inline-flex;
    padding-bottom: 10px;
}

.fechar {
    background-color: var(--cor1);
    width: 24px;
    height: 25px;
    border: 1px solid var(--cor0);
    border-radius: 5px;
    font-size: 1.3em;
    color: white;
    float: right;
    font-weight: bold;
    align-self: center;
    margin-left: 16em;
    
}

.fechar:hover,
.fechar:focus {
    color: #000;
    cursor: pointer;
}

/* conteúdo do modal */
.conteudo-modal {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--cor1);
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* modal responsivo */
@media (max-width: 610px) {
    .fechar {
        margin-left: 14em;            
    }
}

@media (max-width: 558px) {
    .fechar {
        margin-left: 10em;            
    }
}

@media (max-width: 454px) {
    .fechar {
        margin-left: 8em;            
    }
}

@media (max-width: 402px) {
    .fechar {
        margin-left: 4em;            
    }
}

@media (min-height: 250px) and (max-height: 594px) {
    .conteudo-modal {
        margin: 9% auto;
        font-size: 0.8em;
    }

    .fechar {
        width: 29px;     
    }
}

/*------------------------------*/
/*        modal creditos        */
/*------------------------------*/
.autor-credit > li > a{
    color: var(--cor3);
    text-decoration: none;
}

.autor-credit > li > a:hover {
    color: var(--cor0);
    text-decoration: none;
}

/*------------------------------*/
    /* acesso ao whatsapp */
/*------------------------------*/
div#whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
}